{% extends "layout.html" %}
{% block body %}
<div>
{% if main_entry %}
<div>
    <p><a href='/{{ main_entry.pub_date.strftime('%Y/%m/%d') }}/{{ main_entry.slug }}'>{{ main_entry.title }}</a></p>
    <p>{{ main_entry.pub_date.strftime("%B %d, %Y") }}</p>
    <p>{{ main_entry.body|safe }}</p>
</div>
{% endif %}
{% if entries %}
<hr />
<p class="prev">Previous Blog Entries</p>
{% for entry in entries %}
<div>
    <p><a href='/{{ entry.pub_date.strftime('%Y/%m/%d') }}/{{ entry.slug }}'>{{ entry.title }}</a></p>
    <p>{{ entry.pub_date.strftime("%B %d, %Y") }}</p>
    <p>{{ entry.summary }}</p>
</div>
{% endfor %}
{% endif %}
{% if has_next %}
<a href='/page/{{ next_page }}'>Next Page</a>
{% endif %}
</div>
{% endblock %}