{% extends "layout.html" %}
{% block body %}
<div>
{% if main_entry %}
<div>
    <p>{{ main_entry.title }}</p>
    <p>{{ main_entry.pub_date.strftime("%B %d, %Y") }}</p>
    <div class='entry_body'><p>{{ main_entry.body|safe }}</p></div>
    <div class='toggle'>Hide Entry</div>
</div>
{% endif %}
{% for entry in entries %}
<div>
    <p>{{ entry.title }}</p>
    <p>{{ entry.pub_date.strftime("%B %d, %Y") }}</p>
    <div class='entry_body' style="display:none"><p>{{ entry.body|safe }}</p></div>
    <div class='toggle'>View Entry</div>
</div>
{% endfor %}
{% if has_next %}
<a href='/page/{{ next_page }}'>Next Page</a>
{% endif %}
<hr />
</div>
{% endblock %}